.footer {
    // border: 1px solid red;
    margin-top: 3rem;
    // background-color: rgb(199, 199, 199);
    background-color: rgba(212, 211, 211, 0.699);
    text-align: center;
    padding-top: 15px;
}